<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
  <form #opsForm="ngForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group">
      <label for="Operation">Operation</label>
      <select class="form-control" ngModel="" name="operation" [(ngModel)]="model.operation">
        <option value="add">Addition</option>
        <option value="subtract">Subtraction</option>
        <option value="multiply">Multiplication</option>
        <option value="divide">Division</option>
        <option value="power">Power</option>
      </select>

    </div>
    <div class="form-group">
      <label for="first operand">First Operand</label>
      <input class="form-control" type="text" name="operand1" ngModel="" [(ngModel)]="model.operand1">
    </div>
    <div class="form-group">
      <label for="second operand">Second Operand</label>
      <input class="form-control" type="text" name="operand2" ngModel="" [(ngModel)]="model.operand2">
    </div>
    <div class="form-group">
      <input class="btn btn-success" type="submit" value="Submit">
      <input class="btn btn-danger" type="reset" value="Reset">
    </div>
    <div class="card">
      <div class="card-body">
        {{ opsForm.value | json}}
      </div>
    </div>
    <div class="card">
      <div class="card-body">
        <p>Result:</p>
          <div *ngIf="result" >
            <h2>{{result}}</h2>
          </div>
      </div>
    </div>
  </form>
</div>


